body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
    background-image: url('clock.jpg');
    background-size:cover;
  }
  
  .stopwatch {
    display: inline-block;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  #display {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  #laps {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
  }
  